.kanban-container {
  padding: 24px;
}

.title {
  display: block;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.sub-title {
  display: block;
  color: #848484;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
}

.column-container {
  display: flex;
  margin-top: 30px;
}

.column-container app-column:not(:first-child) {
  margin-left: 54px;
}